$color-fondo-oscuro:#2b2b2b;
$color-texto-claro: #e0e0e0;
$color-fondo-oscuro-transparencia:#2b2b2bcf;

$color-fondo-claro:#e0e0e0;
$color-texto-oscuro: #2b2b2b;



$color-texto-enlaces:#e69d00;

$pantalla-movil: 768px;
$margen-lateral: 16px;

$ancho-texto: 680px;
$ancho-bullet: 400px;

$texto-subrayado: #caff66;

$radio-borde: 16px;