$color-fondo-oscuro:#040e12;
$color-texto-claro: #e0e0e0;
$color-fondo-oscuro-transparencia:#040e12cf;

$color-fondo-claro:#e9e9e9;
$color-texto-oscuro: #040e12;



$color-texto-enlaces:#dbb24c;

$pantalla-movil: 768px;
$margen-lateral: 16px;

$ancho-texto: 680px;
$ancho-imagen: 880px;
$ancho-viz: 1000px;

$ancho-bullet: 400px;

$texto-subrayado: #e5fda2;
$texto-citas: #c0d4d3;
$radio-borde: 8px;