$color-fondo:#f2f8ff;
$color-txt-principal: rgb(25, 23, 22);
$color-txt-destacado: #191716;

$color-texto-base:#f2f8ff;
$color-texto-enlaces:#9A0000;

$pantalla-movil: 768px;
$margen-lateral: 16px;

$ancho-texto: 680px;

$texto-subrayado: #caff66;
